<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:fragment="header" class="header">
        <section class="flex">
            <a href="home.html" class="logo">
                <img src="images/logito.jpg" alt="Logo" class="logo-image" />
                <strong><samp style="color: #4dd282; margin-right: 4px">Juan </samp> Pablo II</strong>
            </a>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="notification-btn" class="fas fa-bell" style="cursor: pointer"></div>
                <div id="calendar-btn" class="fas fa-calendar" style="cursor: pointer"></div>
                <input type="text" id="calendar" class="calendar" style="display: none" readonly />
                <div id="toggle-btn" class="fas fa-sun"></div>
                <div id="menu-btn" class="fas fa-bars"></div>
            </div>

            <div class="profile">
                <img src="images/pic-1.jpg" class="image" alt="" />
                <h3 class="name"
                    th:text="${#authentication.principal.nombre} + ' ' + ${#authentication.principal.apellido}"></h3>
                <!-- Muestra el nombre del usuario logueado -->
                <p class="role">
                    <span sec:authorize="hasRole('ADMIN')">Administrador</span>
                    <span sec:authorize="hasRole('TERAPEUTA')">Terapeuta</span>
                    <span sec:authorize="hasRole('ESTUDIANTE')">Estudiante</span>
                </p>
                <a href="/verPerfil" class="btn">Ver Perfil</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn-logout">Cerrar Sesion</button>
                </form>
            </div>
            <div class="notification-bar">
                <div class="notification-header">
                    <button class="back-btn"><i class="fas fa-times"></i></button>
                    <h2>Notificaciones</h2>
                </div>
                <div class="notifications">
                    <!-- Notificación 1-->
                    <div class="notification tarea">
                        <div class="notification-icon"><i class="fas fa-file-alt"></i></div>
                        <div class="notification-content">
                            <p class="notification-course">Curso: Terapia Cognitiva</p>
                            <p class="notification-week">Sección de Desarrollo: 5</p>
                            <p class="notification-type">Tipo de Tarea: Evaluación</p>
                            <p class="notification-due">Fecha de Vencimiento: 23 oct.</p>
                        </div>
                    </div>
                    <!-- Notificación 2-->
                    <div class="notification encuesta">
                        <div class="notification-icon"><i class="fas fa-poll"></i></div>
                        <div class="notification-content">
                            <p class="notification-course">Curso: Terapia Conductual</p>
                            <p class="notification-week">Sección de Desarrollo: 3</p>
                            <p class="notification-type">Tipo de Tarea: Encuesta</p>
                            <p class="notification-due">Fecha de Vencimiento: 25 oct.</p>
                        </div>
                    </div>
                    <!-- Notificación 3-->
                    <div class="notification comentario">
                        <div class="notification-icon"><i class="fas fa-comments"></i></div>
                        <div class="notification-content">
                            <p class="notification-course">Curso: Terapia Familiar</p>
                            <p class="notification-week">Sección de Desarrollo: 2</p>
                            <p class="notification-type">Tipo de Tarea: Comentario en Foro</p>
                            <p class="notification-date">Fecha de Ingreso: 21 oct.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div th:fragment="sidebar" class="side-bar">
        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="images/pic-1.jpg" class="image" alt="" />
            <h3 class="name"
                th:text="${#authentication.principal.nombre} + ' ' + ${#authentication.principal.apellido}"></h3>
            <!-- Muestra el nombre del usuario logueado -->
            <p class="role">
                <span sec:authorize="hasRole('ADMIN')">Administrador</span>
                <span sec:authorize="hasRole('TERAPEUTA')">Terapeuta</span>
                <span sec:authorize="hasRole('ESTUDIANTE')">Estudiante</span>
            </p>
            <a href="/verPerfil" class="btn">Ver Perfil</a>
        </div>

        <nav class="navbar">
            <a href="/cursos"><i class="fas fa-graduation-cap"></i><span>Cursos</span></a>
            <a href="tarea.html"><i class="fas fa-file-alt"></i><span>Tareas</span></a>
            <a href="/progreso"><i class="fas fa-chart-line"></i><span>Progreso</span></a>
            <a href="calendario.html"><i class="fas fa-calendar-alt"></i><span>Calendario</span></a>
        </nav>
    </div>

</body>

</html>